{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <h1>{{ . }}</h1>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
</div>
{{ end }}

{{/* Social Icons */}}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank"
        rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

{{/* Collection Section */}}

{{ if .Site.Params.homeCollection }}
<div class="list-container">
    {{ with .Site.Params.homeCollectionTitle}}
    <h1 class="medium"> {{ . }} </h1>
    {{ end }}

    {{/* Fetch only the first 5 pages from the specified collection */}}
    {{ $pagesToList := first 5 (where .Site.RegularPages "Section" .Site.Params.homeCollection) }}

    {{ range $pagesToList }}
      {{ partial "post-entry.html" . }}
    {{ end }}

    {{/* Link to the main posts list page - Aligned */}}
    <div class="post-line">
      <p class="line-date">&nbsp;</p> <!-- Placeholder for date column -->
      <div>
        <p class="line-title"> <!-- Reusing class for alignment -->
          <a href="{{ "/posts/" | relLangURL }}">
            همه نوشته‌ها 
            <svg style="display: inline-block; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
        </p>
      </div>
    </div>

</div>
{{ end }}
{{/* End Modified Posts Section */}}

{{/* Videos Section */}}
<div class="list-container videos-list">  
    <h1 class="medium">ویدئوها</h1>

    {{/* Fetch only the first 5 pages from the videos section */}}
    {{ $videoPagesToList := first 5 (where .Site.RegularPages "Section" "videos") }}

    {{ range $videoPagesToList }}
      {{ partial "post-entry.html" . }}
    {{ end }}

    {{/* Link to the main videos list page - Aligned */}}
    <div class="post-line">
      <p class="line-date">&nbsp;</p> <!-- Placeholder for date column -->
      <div>
        <p class="line-title"> <!-- Reusing class for alignment -->
          <a href="{{ "/videos/" | relLangURL }}">
            همه ویدئوها 
            <svg style="display: inline-block; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
          </a>
        </p>
      </div>
    </div>

</div>
{{/* End Videos Section */}}

{{ end }}