.flex {
    display: flex;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small {
    font-size: medium;
    font-weight: normal;
}
.medium {
    font-size: 1.4em;
    font-weight:600
}

.monospace {
    font-family: "Ravi";
}