@font-face {
    font-family: 'Ravi FaNum';
    src: url('/static/fonts/RaviFaNum-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ravi FaNum';
    src: url('/static/fonts/RaviFaNum-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Ravi FaNum', Tahoma, Arial, sans-serif;
    font-weight: normal;
}

p, div, span {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}