{{ if or .NextInSection .PrevInSection }}

<div class="single-pagination">
    <hr />

    <div class="flex">

        <div class="single-pagination-prev">
            {{ with .PrevInSection }}
            <div class="single-pagination-container-prev">
                <div class="single-pagination-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
                <div class="single-pagination-text">
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </div>
            </div>
            {{ end }}
        </div>

        <div class="single-pagination-next">
            {{ with .NextInSection }}
            <div class="single-pagination-container-next">
                <div class="single-pagination-text">
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </div>
                <div class="single-pagination-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </div>
            </div>
            {{ end }}
        </div>

    </div>
    <hr />
</div>

{{ end }}
